*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --main-color: #FFFFFF;
--secondary-color: #0084FD;
--dark-color: #333333;
--purple-color: #9792E4;
--lightblue-color: #B5DDFF;
--contrast-color: #FDC15F;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'PT Sans', sans-serif;
  background-color: var(--main-color);
}

.container{
  padding: 15px;
  max-width: 600px;
  margin: 0 auto;
}

#planning, #features, #call-to-action{
  background-color: var(--purple-color);
  color: var(--main-color);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
}

p{
  line-height: 1.8;
}

/* utilities */

.text-center {
  text-align: center;
}

.button-little{
  padding: 5px 10px;
  border-radius: 20px;
}

.button{
  padding: 5px 20px;
  border-radius: 20px;
}

.button-big{
  padding: 15px 50px;
  border-radius: 30px;
  background-color: var(--main-color);
  color: var(--purple-color);
}

.padding{
  padding: 30px 0px;
}

.p-top{
  padding-top: 30px;
}

.p-bottom{
  padding-bottom: 30px;
}

/* header */

header{
  background-color: var(--secondary-color);
  color: var(--main-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 80px;
}

header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul{
  display: none;
}

.fa-solid.fa-bars{
  color: var(--main-color);
}

header .button-little{
  background-color: var(--main-color);
  color: var(--dark-color);
}

header nav img{
  height: 50px;
  width: auto;
}

/* MAIN */

/* intro */

main{
  background-color: var(--main-color);
  margin-top: 80px;
}

.card{
  background-color: var(--lightblue-color);
color: var(--dark-color);
border-radius: 20px;
margin-bottom: 10px;
padding: 30px;
}

.card-div{
  padding-bottom: 0px;
}

#intro h3, #intro i{
  color: var(--secondary-color);
}

#intro .button, #intro .fa-brands.fa-apple{
  background-color: var(--secondary-color);
  color: var(--main-color);
}

#intro .text-center i{
  font-size: 3rem;
}

.card-right img{
  width: 100%;
}

/* planning */


.right-planning{
  background-color: var(--main-color);
  color: var(--dark-color);
  border-radius: 40px;
  padding: 30px;
}

.right-planning a{
  background-color: var(--purple-color);
  color: var(--dark-color);
  padding: 5px 9px;
  border-radius: 50%;
}

/* testimonials */

.testimonial-card{
  background-color: var(--purple-color);
  color: var(--main-color);
border-radius: 40px;
margin-bottom: 10px;
padding: 30px;
}

.testimonial-image{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
}

.testimonial-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* features */

.feature-card{
    background-color: var(--main-color);
      color: var(--purple-color);
      border-radius: 20px;
      margin-bottom: 10px;
      padding: 30px;
}

.feature-card p{
  color: var(--dark-color);
}

.feature-card h3{
  padding: 10px 0px;
}

.feature-card a, .us-right-card a{
  background-color: var(--purple-color);
  color: var(--main-color);
}

/* about us */

.us-right-card h3, .us-left-card h2, #testimonials .container h2{
  color: var(--purple-color);
}

.us-left-card p{
  margin-bottom: 10px;
}

/* call to action */

#call-to-action h1{
  color: var(--contrast-color);
}

#call-to-action .padding a{
  text-decoration: underline;
  color: var(--main-color);
}

/* FOOTER */

footer{
  background-color: var(--dark-color);
  color: var(--main-color);
}

footer a{
  text-decoration: underline;
  color: var(--purple-color);
}

@media screen and (min-width: 768px) {

    .container {
        max-width: 750px;
        margin: 0 auto;
      }

  /* nav .fa-solid.fa-bars{
    display: none;
  }

    header nav ul {
      display: flex;
    } */

  .d-flex{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
  }

  #intro .card{
    width: calc((100% / 3) - 10px);
  }

  #intro .card:first-child{
    width: calc((100% / 3 * 2) - 10px)
  }

  /* testimonials */

  .testimonial-card{
    display: flex;
  }

  .testimonial-image{
    width: 20%;
  }

  .testimonial-text{
    width: 80%;
  }

/* features */

.feature-card{
    width: calc((100% / 2) - 10px);
  }

  /* about us */

.us-left-card{
  width: calc(60% - 10px);
}

.us-right-card{
  width: 30%;
}

#about-us .container{
  justify-content: space-between;
  padding: 30px;
}

/* call to action */

.font-little {
  font-size: 2em;
}

.font-medium{
  font-size: 3em;
}

.font-big{
  font-size: 4em;
}

  }
