*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --main-color: #FFFFFF;
--secondary-color: #0084FD;
--dark-color: #333333;
--purple-color: #9792E4;
--lightblue-color: #B5DDFF;
--contrast-color: #FDC15F;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'PT Sans', sans-serif;
  background-color: var(--main-color);
}

.container{
  padding: 15px;
}

#planning, #features, #call-to-action{
  background-color: var(--purple-color);
  color: var(--main-color);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

/* utilities */

.text-center {
  text-align: center;
}

/* header */

header{
  background-color: var(--secondary-color);
  color: var(--main-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 80px;
}

header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul{
  display: none;
}

.fa-solid.fa-bars{
  color: var(--main-color);
}

/* MAIN */

/* intro */

main{
  background-color: var(--main-color);
  margin-top: 80px;
}

.card{
  background-color: var(--lightblue-color);
color: var(--dark-color);
border-radius: 20px;
margin-bottom: 10px;
}

.card-right img{
  width: 100%;
}

/* planning */

.right-planning{
  background-color: var(--main-color);
  color: var(--dark-color);
  border-radius: 20px;
}

/* testimonials */

.testimonial-card{
  background-color: var(--purple-color);
  color: var(--main-color);
border-radius: 20px;
margin-bottom: 10px;
}

/* features */

.feature-card{
    background-color: var(--main-color);
      color: var(--purple-color);
      border-radius: 20px;
      margin-bottom: 10px;
}

.us-left-card p{
  margin-bottom: 10px;
}

/* FOOTER */

footer{
  background-color: var(--dark-color);
  color: var(--main-color);
}

@media screen and (min-width: 768px) {

  nav .fa-solid.fa-bars{
    display: none;
  }

    header nav ul {
      display: flex;
    }

  .d-flex{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
  }

  #intro .card{
    width: calc((100% / 3) - 10px);
  }

  #intro .card:first-child{
    width: calc((100% / 3 * 2) - 10px)
  }

/* features */

.feature-card{
    width: calc((100% / 2) - 10px);
  }

  /* about us */

.us-left-card{
  width: calc(60% - 10px);
}

.us-right-card{
  width: 40%;
}

/* call to action */

  }


@media screen and (min-width: 992px){

  .container{
  width: 1200px;
  margin: 0 auto;
}

/* planning */
.container-planning {
  width: 1000px;
  margin: 0 auto;
}

.left-planning, .right-planning{
  width: calc(50% - 10px
  );
}

/* testimonials */

.testimonial-card{
  display: flex;
}

/* features */
.feature-card {
  width: calc((100% / 3) - 10px);
}
}